<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herald.ezherald"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.herald.ezherald.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.herald.ezherald.academic.AcademicActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.account.AccountActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.account.IDCardAccountActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.activity.ActiActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.agenda.AgendaActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.curriculum.CurriculumActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.exercise.ExerciseActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.freshman.FreshmanActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.gpa.GPAActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        
        <!--libr  begin-->
        <activity
            android:name="com.herald.ezherald.library.LibraryActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.library.LibraryActivityData"
            android:theme="@style/Theme.Sherlock.Light">
        </activity>"
		<!-- libr end -->
		
        <activity
            android:name="com.herald.ezherald.BaseFrameActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>

        <!-- academic Begin -->
        <activity
            android:name="com.herald.ezherald.academic.AcademicDetailActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <!-- academic End -->


        <!-- acti  begin -->
        <activity
            android:name="com.herald.ezherald.activity.ClubListActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.activity.ActiInfoDetailActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.activity.ClubDetailActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.activity.ClubAlbumActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <!-- acti  end -->
        
        <activity
            android:name="com.herald.ezherald.settingframe.SettingActivity"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.settingframe.AboutThisApp"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.settingframe.MainContentModulePrefActivity"
            android:label="@string/title_activity_main_content_module_pref"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name="com.herald.ezherald.settingframe.AppUpdateActivity"
            android:label="@string/title_activity_app_update" android:theme="@style/Theme.Sherlock.Light">
        </activity>
        <activity android:name=".mainframe.MainGuideActivity" android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
    </application>

</manifest>